body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f4f7f6;
  padding: 20px;
  margin-right: auto;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.menu-item a {
  text-decoration: none;
  color: #333;
  display: block;
}

.menu-item:hover {
  background-color: #e0e0e0;
}

.container {
  display: flex;
  flex-direction: row;
  /* Kinder-Elemente nebeneinander */
  align-items: flex-start;
  /* Kinder am Start der Kreuzachse ausrichten */
  justify-content: flex-start;
  /* Kinder am Start der Hauptachse ausrichten */
  height: 100vh;
  /* Container nimmt die volle Höhe des Viewports ein */
  margin-top: 100px;
  /* Abstand von oben */
  padding-left: 0;
  /* Entfernt das Padding auf der linken Seite, falls vorhanden */
}
