
<!-- Register Fenster -->
<div style="text-align: center;">
    <div class="Register-container">
      <div class="Register-box">
        <h2>Registrieren</h2>

        <form id="loginForm" #loginForm = "ngForm" (ngSubmit)="register()" autocomplete="off">
          <div class="input-container">
            <input name = "username"
            [(ngModel)] = "model.username"
             type="email" id="email" class="input-field" placeholder="E-Mail" required>
          </div>
          <div class="input-container">
            <input name = "password"
            [(ngModel)] = "model.password"
            type="password" id="password" class="input-field" placeholder="Passwort" #passwordInput required>
          </div>
          <div class="input-container">
            <input name = "UserRolle"
            [(ngModel)] = "model.userRolle"
            type="userRolle" id="userRolle" class="input-field" placeholder="Role" #passwordInput required>
          </div>
         
          <button type="submit">Registrieren</button>  

          
        </form>
        <button routerLink="/login">Cancel</button>
      </div>
    </div>
</div>     
   