/* Add background color to .login-container */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: #208794; /* Light blue background color */
  }
  
  .login-box {
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    color: #555;
    margin-bottom: 30px;
  }
  
  .access-text {
    opacity: 80%;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  /* Gemeinsame Stile für Text- und Passwort-Eingabefelder */
  .input-field {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Rechter Padding für das Icon */
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  /* Stil für das Auge-Icon */
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #757575;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Verhindert, dass der Text umbricht */
  }
  
  .checkbox-forgot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-label {
    margin-left: 0px;
    font-size: 14px;
  }
  
  .forgot-password-link {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap; /* Verhindert, dass der Text umbricht */
  }
  
  .registration-prompt {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .register-link {
    color: #1a73e8;
    text-decoration: none;
    margin-left: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1a73e8;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #135ab6;
  }
  
  .footer a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer a:not(:last-child) {
    margin-bottom: 16px;
  }
  